<!DOCTYPE html>
<html>
<head>
  <title>Password Reset Form</title>
</head>
<body>
  <h1>Choose A New Password</h1>
  <form action="/password-reset/<%- userId %>/<%- token %>" method="POST">
    
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>

    <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
      </div>

    <button type="submit">Reset Password</button>
  </form>
  <a href="/signup">Sign Up</a>
</body>
</html>