<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/requestResetPassword" method="POST">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <button type="submit">Reset Password</button>
  </form>
  <a href="/signup">Sign Up</a> 
  <a href="/login">Login</a>
</body>
</html>