body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #f8f8f8;
}

/* Apply Roboto font to all headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

header {
    background-color: #1d3759; /* Dark blue color */
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
    overflow-x: scroll;
}

footer {
    background-color: #030abc;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.week {
    display: flex;
    overflow-x: scroll;
    padding: 10px;
}

.day-column {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F2E205;
    color: #333; /* Changed to dark text for better readability */
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 5px;
}

.button:hover {
    background-color: #F2BD1D;
    transform: scale(1.05);
}

#formError {
    color: red;
    margin: 10px 0;
    display: none; /* Hidden by default */
}

.selected-slot {
    background-color: #00f5f9;
    color: white;
}

/* Login form specific styles */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px); /* Adjusted for header and footer */
}

.login-form {
    background: #fff;
    padding: 25px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    margin: 20px 0;
}

.login-form div {
    margin-bottom: 15px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #030abc;
    color: white;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #030abc;
}

.login-form a {
    color: #030abc;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.login-form a:hover {
    text-decoration: underline;
}

/* Responsive design */
@media (max-width: 768px) {
    .login-form {
        width: 100%;
        padding: 20px;
    }
}

#bookingForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: auto;
    gap: 10px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.error {
    color: red;
    margin-bottom: 15px;
}
.error-field {
    border: 1px solid red;
}
div {
    margin-bottom: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="tel"],
input[type="text"],
input[type="password"],
select {
  min-width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin: 10px 0;
}

.instructor-portrait {
    width: 200px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 10px;
    float: left;
    padding: 15px;
}


.nav-bar {
    position: relative;
}

.logo {
    position: absolute;
    width: 70px;
    top: 10px;
    left: 10px;
}

